<!DOCTYPE html>
<html>
<head>
  <title>Let's Eat</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="js/liked.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>

<div class="container">

  <div id="restaurants"></div>

  <p id="navbar">
    <a href="/home">Home</a><br>
    <a href="/profile">Profile</a><br>
    <a href="/liked">Liked</a><br>
    <a href="/matches">Matches</a><br>
    <a href="/signout">Sign Out</a>
  </p>

</div>

</body>

</html>
